################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs/NewOutboundEmailApp/v16/Server/sqlite3
/.vs/NewOutboundEmailApp/v16/.suo
